<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% stylesheets filter='cssrewrite'
            '@PalicaoRsvpBundle/Resources/public/css/bootstrap.css'
            '@PalicaoRsvpBundle/Resources/public/css/font-awesome.css'
            '@PalicaoRsvpBundle/Resources/public/css/bootstrap-responsive.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <!-- put your nav bar here -->
        </div>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery.min.js"></script>
        {% javascripts
            '@PalicaoRsvpBundle/Resources/public/js/bootstrap.js'

        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>